<div class=container>
  <div class=row>
    <form [formGroup]="studentForm" (ngSubmit)="onStudentEdit()">
      <input type="text" formControlName="roll_no" class="form-control">

      <input type="text" formControlName="name" class="form-control">

      <input type="text" formControlName="fees" class="form-control">

      <input type="text" formControlName="mobile_no" class="form-control">

      <button type="submit" class="btn btn-primary">Edit Student</button>


    </form>
  </div>
</div>
