<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/demo" routerLinkActive="active">Demo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/calc" routerLinkActive="active">Calc</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/calc1" routerLinkActive="active">Calc1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/todo">Todo</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/emp">Emp List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/addEmp">Emp Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student/add">Add Student</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/addUser">Add User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user">User List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/add1">Add Student Reactive</a>
          </li>
          <li class="nav-item" *ngIf="login">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="!login">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>

</ul>
