<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" routerLink="">Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/demo">Demo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/calc">Calc</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/calc1">Calc1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/todo">Todo</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/emp">Emp List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/addEmp">Emp Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addStudent">Add Student</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/addUser">Add User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user">User List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/addStudentReactive">Add Student Reactive</a>
          </li>

</ul>
