<div class="container">
  <div class="row">
    <div class="col-md-9">
        <table class="table">
            <tr *ngFor="let item of emp" >
              <td>
                {{item.emp_id}}
              </td>
              <td>
                  {{item.emp_name | titlecase }}
              </td>
              <td>
                  {{item.emp_salary | currency:'INR' }}
              </td>
              <td>
                  {{item.emp_desg}}
              </td>
              <td>
                <button (click)="onEmpDelete(item)"  >Delete</button>
              |
              <button (click)="onEmpSort(item)"  >sort employee</button>
              </td>
            </tr>
          </table>


    </div>
    <div class="col-md-3">
      <app-emp-sidebar></app-emp-sidebar>
    </div>

  </div>
</div>
